{
  "swagger": "2.0",
  "info": {
    "version": "4",
    "title": "DefaultExtended/23.200.001"
  },
  "host": "xrp-flex-partners.cegid.cloud",
  "basePath": "/lebeltechnologies_23r2/entity/DefaultExtended/23.200.001",
  "schemes": [
    "https"
  ],
  "paths": {
    "/Account/$adHocSchema": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Récupère du système le schéma des champs personnalisés de l'entité.",
        "operationId": "Account_GetAdHocSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Le nom du champ, le nom de la vue et le type des champs qui ne sont pas définis dans le contrat du endpoint pour cet objet.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Account/{ids}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Récupère un enregistrement du système à l'aide des valeurs de ses champs clés.",
        "operationId": "Account_GetByKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement demandé.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Supprime l'enregistrement à l'aide des valeurs de ses champs clés.",
        "operationId": "Account_DeleteByKeys",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          }
        ],
        "responses": {
          "204": {
            "description": "L'enregistrement est supprimé avec succès."
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Account/{id}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Récupère un enregistrement du système à l'aide de la valeur de l'ID d'entité de la session.",
        "operationId": "Account_GetById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The session ID of the record.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement demandé.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Supprime l'enregistrement à l'aide de son identifiant de session.",
        "operationId": "Account_DeleteById",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The session ID of the record.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "L'enregistrement est supprimé avec succès."
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Account/{actionName}": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Exécute une action dans le système.",
        "operationId": "Account_InvokeAction_CustomAction",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "actionName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "invocation",
            "in": "body",
            "description": "The record to which the action should be applied and the parameters of the action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountCustomAction",
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "L'opération est en cours.",
            "headers": {
              "Location": {
                "description": "A URL that can be used to check the status of the operation through the GET HTTP method.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "204": {
            "description": "L'opération initiée par l'action est complétée.",
            "headers": {
              "Location": {
                "description": "A URL that can be used to obtain the processed entity through the GET HTTP method.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "400": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "412": {
            "description": "Soit l’en-tête de la demande spécifie que l’entité doit être insérée mais qu’une entité avec ces clés existe déjà dans la base de données et ne peut pas être insérée, soit l’en-tête spécifie que l’entité doit être mise à jour mais qu’aucune entité avec ces clés dans la base de données.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "422": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Account/{ids}/files/{filename}": {
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Joint un fichier à un enregistrement.",
        "operationId": "Account_PutFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          },
          {
            "name": "filename",
            "in": "path",
            "description": "The name of the file that you are going to attach with the extension.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Le fichier est joint avec succès.",
            "headers": {
              "Location": {
                "description": "Une URL qui peut être utilisée pour récupérer le fichier du système.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Récupère un enregistrement du système qui répond aux conditions spécifiées.",
        "operationId": "Account_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of records to be skipped from the list of returned records.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of records to be returned from the system.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "La liste des enregistrements qui répondent aux conditions spécifiées.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Créé un enregistrement ou met à jour un enregistrement existant.",
        "operationId": "Account_PutEntity",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "body",
            "description": "The record to be passed to the system.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement créé ou mis à jour.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "400": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "412": {
            "description": "Soit l’en-tête de la demande spécifie que l’entité doit être insérée mais qu’une entité avec ces clés existe déjà dans la base de données et ne peut pas être insérée, soit l’en-tête spécifie que l’entité doit être mise à jour mais qu’aucune entité avec ces clés dans la base de données.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "422": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountDetailsForPeriodInquiry/$adHocSchema": {
      "get": {
        "tags": [
          "AccountDetailsForPeriodInquiry"
        ],
        "summary": "Récupère du système le schéma des champs personnalisés de l'entité.",
        "operationId": "AccountDetailsForPeriodInquiry_GetAdHocSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Le nom du champ, le nom de la vue et le type des champs qui ne sont pas définis dans le contrat du endpoint pour cet objet.",
            "schema": {
              "$ref": "#/definitions/AccountDetailsForPeriodInquiry"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountDetailsForPeriodInquiry/{ids}": {
      "get": {
        "tags": [
          "AccountDetailsForPeriodInquiry"
        ],
        "summary": "Récupère un enregistrement du système à l'aide des valeurs de ses champs clés.",
        "operationId": "AccountDetailsForPeriodInquiry_GetByKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement demandé.",
            "schema": {
              "$ref": "#/definitions/AccountDetailsForPeriodInquiry"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AccountDetailsForPeriodInquiry"
        ],
        "summary": "Supprime l'enregistrement à l'aide des valeurs de ses champs clés.",
        "operationId": "AccountDetailsForPeriodInquiry_DeleteByKeys",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          }
        ],
        "responses": {
          "204": {
            "description": "L'enregistrement est supprimé avec succès."
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountDetailsForPeriodInquiry/{id}": {
      "get": {
        "tags": [
          "AccountDetailsForPeriodInquiry"
        ],
        "summary": "Récupère un enregistrement du système à l'aide de la valeur de l'ID d'entité de la session.",
        "operationId": "AccountDetailsForPeriodInquiry_GetById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The session ID of the record.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement demandé.",
            "schema": {
              "$ref": "#/definitions/AccountDetailsForPeriodInquiry"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AccountDetailsForPeriodInquiry"
        ],
        "summary": "Supprime l'enregistrement à l'aide de son identifiant de session.",
        "operationId": "AccountDetailsForPeriodInquiry_DeleteById",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The session ID of the record.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "L'enregistrement est supprimé avec succès."
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountDetailsForPeriodInquiry/{actionName}": {
      "post": {
        "tags": [
          "AccountDetailsForPeriodInquiry"
        ],
        "summary": "Exécute une action dans le système.",
        "operationId": "AccountDetailsForPeriodInquiry_InvokeAction_CustomAction",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "actionName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "invocation",
            "in": "body",
            "description": "The record to which the action should be applied and the parameters of the action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountDetailsForPeriodInquiryCustomAction",
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "L'opération est en cours.",
            "headers": {
              "Location": {
                "description": "A URL that can be used to check the status of the operation through the GET HTTP method.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "204": {
            "description": "L'opération initiée par l'action est complétée.",
            "headers": {
              "Location": {
                "description": "A URL that can be used to obtain the processed entity through the GET HTTP method.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "400": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "412": {
            "description": "Soit l’en-tête de la demande spécifie que l’entité doit être insérée mais qu’une entité avec ces clés existe déjà dans la base de données et ne peut pas être insérée, soit l’en-tête spécifie que l’entité doit être mise à jour mais qu’aucune entité avec ces clés dans la base de données.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "422": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/AccountDetailsForPeriodInquiry"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountDetailsForPeriodInquiry/{ids}/files/{filename}": {
      "put": {
        "tags": [
          "AccountDetailsForPeriodInquiry"
        ],
        "summary": "Joint un fichier à un enregistrement.",
        "operationId": "AccountDetailsForPeriodInquiry_PutFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          },
          {
            "name": "filename",
            "in": "path",
            "description": "The name of the file that you are going to attach with the extension.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Le fichier est joint avec succès.",
            "headers": {
              "Location": {
                "description": "Une URL qui peut être utilisée pour récupérer le fichier du système.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountDetailsForPeriodInquiry": {
      "get": {
        "tags": [
          "AccountDetailsForPeriodInquiry"
        ],
        "summary": "Récupère un enregistrement du système qui répond aux conditions spécifiées.",
        "operationId": "AccountDetailsForPeriodInquiry_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of records to be skipped from the list of returned records.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of records to be returned from the system.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "La liste des enregistrements qui répondent aux conditions spécifiées.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountDetailsForPeriodInquiry"
              }
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AccountDetailsForPeriodInquiry"
        ],
        "summary": "Créé un enregistrement ou met à jour un enregistrement existant.",
        "operationId": "AccountDetailsForPeriodInquiry_PutEntity",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "body",
            "description": "The record to be passed to the system.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountDetailsForPeriodInquiry"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement créé ou mis à jour.",
            "schema": {
              "$ref": "#/definitions/AccountDetailsForPeriodInquiry"
            }
          },
          "400": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "412": {
            "description": "Soit l’en-tête de la demande spécifie que l’entité doit être insérée mais qu’une entité avec ces clés existe déjà dans la base de données et ne peut pas être insérée, soit l’en-tête spécifie que l’entité doit être mise à jour mais qu’aucune entité avec ces clés dans la base de données.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "422": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/AccountDetailsForPeriodInquiry"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountGroup/$adHocSchema": {
      "get": {
        "tags": [
          "AccountGroup"
        ],
        "summary": "Récupère du système le schéma des champs personnalisés de l'entité.",
        "operationId": "AccountGroup_GetAdHocSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Le nom du champ, le nom de la vue et le type des champs qui ne sont pas définis dans le contrat du endpoint pour cet objet.",
            "schema": {
              "$ref": "#/definitions/AccountGroup"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountGroup/{ids}": {
      "get": {
        "tags": [
          "AccountGroup"
        ],
        "summary": "Récupère un enregistrement du système à l'aide des valeurs de ses champs clés.",
        "operationId": "AccountGroup_GetByKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement demandé.",
            "schema": {
              "$ref": "#/definitions/AccountGroup"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AccountGroup"
        ],
        "summary": "Supprime l'enregistrement à l'aide des valeurs de ses champs clés.",
        "operationId": "AccountGroup_DeleteByKeys",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          }
        ],
        "responses": {
          "204": {
            "description": "L'enregistrement est supprimé avec succès."
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountGroup/{id}": {
      "get": {
        "tags": [
          "AccountGroup"
        ],
        "summary": "Récupère un enregistrement du système à l'aide de la valeur de l'ID d'entité de la session.",
        "operationId": "AccountGroup_GetById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The session ID of the record.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement demandé.",
            "schema": {
              "$ref": "#/definitions/AccountGroup"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AccountGroup"
        ],
        "summary": "Supprime l'enregistrement à l'aide de son identifiant de session.",
        "operationId": "AccountGroup_DeleteById",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The session ID of the record.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "L'enregistrement est supprimé avec succès."
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountGroup/{actionName}": {
      "post": {
        "tags": [
          "AccountGroup"
        ],
        "summary": "Exécute une action dans le système.",
        "operationId": "AccountGroup_InvokeAction_CustomAction",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "actionName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "invocation",
            "in": "body",
            "description": "The record to which the action should be applied and the parameters of the action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountGroupCustomAction",
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "L'opération est en cours.",
            "headers": {
              "Location": {
                "description": "A URL that can be used to check the status of the operation through the GET HTTP method.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "204": {
            "description": "L'opération initiée par l'action est complétée.",
            "headers": {
              "Location": {
                "description": "A URL that can be used to obtain the processed entity through the GET HTTP method.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "400": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "412": {
            "description": "Soit l’en-tête de la demande spécifie que l’entité doit être insérée mais qu’une entité avec ces clés existe déjà dans la base de données et ne peut pas être insérée, soit l’en-tête spécifie que l’entité doit être mise à jour mais qu’aucune entité avec ces clés dans la base de données.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "422": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/AccountGroup"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountGroup/{ids}/files/{filename}": {
      "put": {
        "tags": [
          "AccountGroup"
        ],
        "summary": "Joint un fichier à un enregistrement.",
        "operationId": "AccountGroup_PutFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          },
          {
            "name": "filename",
            "in": "path",
            "description": "The name of the file that you are going to attach with the extension.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Le fichier est joint avec succès.",
            "headers": {
              "Location": {
                "description": "Une URL qui peut être utilisée pour récupérer le fichier du système.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountGroup": {
      "get": {
        "tags": [
          "AccountGroup"
        ],
        "summary": "Récupère un enregistrement du système qui répond aux conditions spécifiées.",
        "operationId": "AccountGroup_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of records to be skipped from the list of returned records.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of records to be returned from the system.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "La liste des enregistrements qui répondent aux conditions spécifiées.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountGroup"
              }
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AccountGroup"
        ],
        "summary": "Créé un enregistrement ou met à jour un enregistrement existant.",
        "operationId": "AccountGroup_PutEntity",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "body",
            "description": "The record to be passed to the system.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountGroup"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement créé ou mis à jour.",
            "schema": {
              "$ref": "#/definitions/AccountGroup"
            }
          },
          "400": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "412": {
            "description": "Soit l’en-tête de la demande spécifie que l’entité doit être insérée mais qu’une entité avec ces clés existe déjà dans la base de données et ne peut pas être insérée, soit l’en-tête spécifie que l’entité doit être mise à jour mais qu’aucune entité avec ces clés dans la base de données.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "422": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/AccountGroup"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountSummaryInquiry/$adHocSchema": {
      "get": {
        "tags": [
          "AccountSummaryInquiry"
        ],
        "summary": "Récupère du système le schéma des champs personnalisés de l'entité.",
        "operationId": "AccountSummaryInquiry_GetAdHocSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Le nom du champ, le nom de la vue et le type des champs qui ne sont pas définis dans le contrat du endpoint pour cet objet.",
            "schema": {
              "$ref": "#/definitions/AccountSummaryInquiry"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountSummaryInquiry/{ids}": {
      "get": {
        "tags": [
          "AccountSummaryInquiry"
        ],
        "summary": "Récupère un enregistrement du système à l'aide des valeurs de ses champs clés.",
        "operationId": "AccountSummaryInquiry_GetByKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement demandé.",
            "schema": {
              "$ref": "#/definitions/AccountSummaryInquiry"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AccountSummaryInquiry"
        ],
        "summary": "Supprime l'enregistrement à l'aide des valeurs de ses champs clés.",
        "operationId": "AccountSummaryInquiry_DeleteByKeys",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          }
        ],
        "responses": {
          "204": {
            "description": "L'enregistrement est supprimé avec succès."
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountSummaryInquiry/{id}": {
      "get": {
        "tags": [
          "AccountSummaryInquiry"
        ],
        "summary": "Récupère un enregistrement du système à l'aide de la valeur de l'ID d'entité de la session.",
        "operationId": "AccountSummaryInquiry_GetById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The session ID of the record.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement demandé.",
            "schema": {
              "$ref": "#/definitions/AccountSummaryInquiry"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AccountSummaryInquiry"
        ],
        "summary": "Supprime l'enregistrement à l'aide de son identifiant de session.",
        "operationId": "AccountSummaryInquiry_DeleteById",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The session ID of the record.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "L'enregistrement est supprimé avec succès."
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountSummaryInquiry/{actionName}": {
      "post": {
        "tags": [
          "AccountSummaryInquiry"
        ],
        "summary": "Exécute une action dans le système.",
        "operationId": "AccountSummaryInquiry_InvokeAction_CustomAction",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "actionName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "invocation",
            "in": "body",
            "description": "The record to which the action should be applied and the parameters of the action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountSummaryInquiryCustomAction",
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "L'opération est en cours.",
            "headers": {
              "Location": {
                "description": "A URL that can be used to check the status of the operation through the GET HTTP method.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "204": {
            "description": "L'opération initiée par l'action est complétée.",
            "headers": {
              "Location": {
                "description": "A URL that can be used to obtain the processed entity through the GET HTTP method.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "400": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "412": {
            "description": "Soit l’en-tête de la demande spécifie que l’entité doit être insérée mais qu’une entité avec ces clés existe déjà dans la base de données et ne peut pas être insérée, soit l’en-tête spécifie que l’entité doit être mise à jour mais qu’aucune entité avec ces clés dans la base de données.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "422": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/AccountSummaryInquiry"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountSummaryInquiry/{ids}/files/{filename}": {
      "put": {
        "tags": [
          "AccountSummaryInquiry"
        ],
        "summary": "Joint un fichier à un enregistrement.",
        "operationId": "AccountSummaryInquiry_PutFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          },
          {
            "name": "filename",
            "in": "path",
            "description": "The name of the file that you are going to attach with the extension.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Le fichier est joint avec succès.",
            "headers": {
              "Location": {
                "description": "Une URL qui peut être utilisée pour récupérer le fichier du système.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/AccountSummaryInquiry": {
      "get": {
        "tags": [
          "AccountSummaryInquiry"
        ],
        "summary": "Récupère un enregistrement du système qui répond aux conditions spécifiées.",
        "operationId": "AccountSummaryInquiry_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of records to be skipped from the list of returned records.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of records to be returned from the system.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "La liste des enregistrements qui répondent aux conditions spécifiées.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountSummaryInquiry"
              }
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AccountSummaryInquiry"
        ],
        "summary": "Créé un enregistrement ou met à jour un enregistrement existant.",
        "operationId": "AccountSummaryInquiry_PutEntity",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "body",
            "description": "The record to be passed to the system.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountSummaryInquiry"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement créé ou mis à jour.",
            "schema": {
              "$ref": "#/definitions/AccountSummaryInquiry"
            }
          },
          "400": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "412": {
            "description": "Soit l’en-tête de la demande spécifie que l’entité doit être insérée mais qu’une entité avec ces clés existe déjà dans la base de données et ne peut pas être insérée, soit l’en-tête spécifie que l’entité doit être mise à jour mais qu’aucune entité avec ces clés dans la base de données.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "422": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/AccountSummaryInquiry"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Activity/$adHocSchema": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Récupère du système le schéma des champs personnalisés de l'entité.",
        "operationId": "Activity_GetAdHocSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Le nom du champ, le nom de la vue et le type des champs qui ne sont pas définis dans le contrat du endpoint pour cet objet.",
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Activity/{ids}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Récupère un enregistrement du système à l'aide des valeurs de ses champs clés.",
        "operationId": "Activity_GetByKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement demandé.",
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Activity"
        ],
        "summary": "Supprime l'enregistrement à l'aide des valeurs de ses champs clés.",
        "operationId": "Activity_DeleteByKeys",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          }
        ],
        "responses": {
          "204": {
            "description": "L'enregistrement est supprimé avec succès."
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Activity/{id}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Récupère un enregistrement du système à l'aide de la valeur de l'ID d'entité de la session.",
        "operationId": "Activity_GetById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The session ID of the record.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement demandé.",
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Activity"
        ],
        "summary": "Supprime l'enregistrement à l'aide de son identifiant de session.",
        "operationId": "Activity_DeleteById",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The session ID of the record.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "L'enregistrement est supprimé avec succès."
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Activity/CompleteActivity": {
      "post": {
        "tags": [
          "Activity"
        ],
        "summary": "Exécute une action dans le système.",
        "operationId": "Activity_InvokeAction_CompleteActivity",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "invocation",
            "in": "body",
            "description": "The record to which the action should be applied and the parameters of the action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompleteActivity",
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "L'opération est en cours.",
            "headers": {
              "Location": {
                "description": "A URL that can be used to check the status of the operation through the GET HTTP method.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "204": {
            "description": "L'opération initiée par l'action est complétée.",
            "headers": {
              "Location": {
                "description": "A URL that can be used to obtain the processed entity through the GET HTTP method.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "400": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "412": {
            "description": "Soit l’en-tête de la demande spécifie que l’entité doit être insérée mais qu’une entité avec ces clés existe déjà dans la base de données et ne peut pas être insérée, soit l’en-tête spécifie que l’entité doit être mise à jour mais qu’aucune entité avec ces clés dans la base de données.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "422": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Activity/{actionName}": {
      "post": {
        "tags": [
          "Activity"
        ],
        "summary": "Exécute une action dans le système.",
        "operationId": "Activity_InvokeAction_CustomAction",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "actionName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "invocation",
            "in": "body",
            "description": "The record to which the action should be applied and the parameters of the action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityCustomAction",
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "L'opération est en cours.",
            "headers": {
              "Location": {
                "description": "A URL that can be used to check the status of the operation through the GET HTTP method.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "204": {
            "description": "L'opération initiée par l'action est complétée.",
            "headers": {
              "Location": {
                "description": "A URL that can be used to obtain the processed entity through the GET HTTP method.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "400": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "412": {
            "description": "Soit l’en-tête de la demande spécifie que l’entité doit être insérée mais qu’une entité avec ces clés existe déjà dans la base de données et ne peut pas être insérée, soit l’en-tête spécifie que l’entité doit être mise à jour mais qu’aucune entité avec ces clés dans la base de données.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "422": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Activity/{ids}/files/{filename}": {
      "put": {
        "tags": [
          "Activity"
        ],
        "summary": "Joint un fichier à un enregistrement.",
        "operationId": "Activity_PutFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          },
          {
            "name": "filename",
            "in": "path",
            "description": "The name of the file that you are going to attach with the extension.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Le fichier est joint avec succès.",
            "headers": {
              "Location": {
                "description": "Une URL qui peut être utilisée pour récupérer le fichier du système.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Activity": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Récupère un enregistrement du système qui répond aux conditions spécifiées.",
        "operationId": "Activity_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of records to be skipped from the list of returned records.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of records to be returned from the system.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "La liste des enregistrements qui répondent aux conditions spécifiées.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Activity"
              }
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Activity"
        ],
        "summary": "Créé un enregistrement ou met à jour un enregistrement existant.",
        "operationId": "Activity_PutEntity",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "body",
            "description": "The record to be passed to the system.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement créé ou mis à jour.",
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          },
          "400": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "412": {
            "description": "Soit l’en-tête de la demande spécifie que l’entité doit être insérée mais qu’une entité avec ces clés existe déjà dans la base de données et ne peut pas être insérée, soit l’en-tête spécifie que l’entité doit être mise à jour mais qu’aucune entité avec ces clés dans la base de données.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "422": {
            "description": "Les données spécifiées dans la requête sont non valides.",
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Appointment/$adHocSchema": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Récupère du système le schéma des champs personnalisés de l'entité.",
        "operationId": "Appointment_GetAdHocSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Le nom du champ, le nom de la vue et le type des champs qui ne sont pas définis dans le contrat du endpoint pour cet objet.",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Appointment/{ids}": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Récupère un enregistrement du système à l'aide des valeurs de ses champs clés.",
        "operationId": "Appointment_GetByKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement demandé.",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Appointment"
        ],
        "summary": "Supprime l'enregistrement à l'aide des valeurs de ses champs clés.",
        "operationId": "Appointment_DeleteByKeys",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "The values of the key fields of the record.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "pipes"
          }
        ],
        "responses": {
          "204": {
            "description": "L'enregistrement est supprimé avec succès."
          },
          "401": {
            "description": "L'utilisateur n'est pas connecté au système.",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          },
          "500": {
            "description": "Erreur interne du serveur",
            "schema": {
              "$ref": "#/definitions/HttpError"
            }
          }
        }
      }
    },
    "/Appointment/{id}": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Récupère un enregistrement du système à l'aide de la valeur de l'ID d'entité de la session.",
        "operationId": "Appointment_GetById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The session ID of the record.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The fields of the entity to be returned from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The conditions that determine which records should be selected from the system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The linked and detail entities that should be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$custom",
            "in": "query",
            "description": "The fields that are not defined in the contract of the endpoint to be returned from the system.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "L'enregistrement demandé.",
            "schema": {
              "$ref": "#/definitions/Appointment"
            }
          },
          "401": {
[...]
